.contentWrap {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  .box {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 600px;
    height: 460px;
  }
  .boxHigher {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 600px;
    height: 700px;
  }
}
